<!DOCTYPE html>
<class ="no-js" lang="en"></class>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Swadesh</title>
  <!-- Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
  />
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cinzel&family=Quicksand&display=swap"
    rel="stylesheet"
  />
  <!-- Bootstrap Icons -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
  />
  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/styles.css" />
  <!-- Javascript graceful degradation -->
  <script>
    (function (e, t, n) {
      var r = e.querySelectorAll("html")[0];
      r.className = r.className.replace(/(^|s)no-js(s|$)/, "$1js$2");
    })(document, window, 0);
  </script>
</head>
<!-- Nav bar -->
<nav class="navbar p-3 navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Swadesh</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#home-nav"
      aria-controls="home-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="home-nav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
      <a class="btn btn-outline-success login-btn action-btn" href="/login"
        >Login</a
      >
      <a class="btn btn-primary signin-btn action-btn" href="/signup"
        >Get Started</a
      >
    </div>
  </div>
</nav>
<body></body>
