:root {
    --main-bg-color: #F9F7F7;
    --secondary-color: #DBE2EF;
    --san-marino: #3F72AF;
    --blue-zodiac: #112D4E;
}
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Cinzel', serif;
font-family: 'Quicksand', sans-serif; */

html, body {
    background-color: var(--main-bg-color);
}

.display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
    font-family: "QuickSand", sans-serif;
}

.abril {
    font-family: "Abril Fatface", cursive;
}

.cinzel {
    font-family: "Cinzel", serif;
}

.quicksand {
    font-family: "Quicksand", sans-serif;
}

/* Nav */
nav {
    background-color: var(--secondary-color);
}

.nav-item {
    padding: 0 1rem;
    font-size: 1.2rem;
    font-family: "QuickSand", sans-serif;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 300;
    font-family: "Cinzel", serif;
}

.action-btn {
    width: 7rem;
    margin: 0 0.3rem;
    font-weight: 700;
}

.login-btn {
    font-weight: 100;
    border-radius: 10px;
}

.signin-btn {
    padding: 0.7rem;
    border-radius: 15px;
}

/* Jumbotron */
.jumbotron {
    max-width:100%;
}

.main-cta {
    background: linear-gradient(160deg, #30cfd0, #f86df1);
    background-size: 400% 400%;
    animation: main-cta 37s ease infinite;
}

@keyframes main-cta {
    0% {background-position:0% 79%}
    50% {background-position:100% 22%}
    100% {background-position:0% 79%}
}

/* Login */

.form-floating {
    margin-bottom: 1rem;
}


.outh {
    padding: 0.6rem 0;
}

.bi {
    padding: 0 1rem;
    font-size: 1rem;
}

/* About */
#about {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
}
  
.about-banner {
    background-color: #8EA7E9;
    padding: 40px;
    text-align: center;
 }
  
.about-banner h1 {
    margin-top: 0;
}
    
.about-description {
    margin-top: 40px;
}
  
.about-description h2 {
    margin-top: 0;
}

/* Contact */
#contact {
    background-color: #8EA7E9;
    padding: 40px;
    text-align: center;
}

.contact-main {
    background-color: #F9F7F7;
    text-align: center;
    margin: 0 1rem;
    padding: 0 1.5rem;
}

.contact-main form {
    max-width: 500px;
    margin: 0 auto;
  }
  