<%- include("partials/header") -%>
<main>
  <section id="contact">
    <h1 class="display-4">Contact Us</h1>
    <p class="secondary-text">
      Get in touch with us to learn more about Swadesh
    </p>
  </section>
  <section class="contact mb-4">
    <main class="contact-main m-auto mt-5">
      <form>
        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="name@example.com"
          />
          <label for="email">Email address</label>
        </div>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            name="subject"
            placeholder="name@example.com"
          />
          <label for="subject">Subject</label>
        </div>
        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            name="contact-feedback"
            style="height: 6rem"
          ></textarea>
          <label for="contact-feedback">Comments</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Send</button>
      </form>
    </main>
  </section>
</main>

<%- include("partials/footer") -%>
