<%- include('partials/header') %>
<div class="container">
  <div class="row jumbotron">
    <div class="col-12">
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5 text-center">
          <h1 class="display-4 fw-bold pb-5">
            Create a website for your NGO today.
          </h1>
          <p class="col-md-12 fs-4 text-wrap">
            Build and scale with confidence. From powerful site infrastructure
            to advanced business solutions—we've got you covered.
          </p>
          <button class="btn btn-primary btn-lg mt-5 p-3" type="button">
            Get Started Today
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
