<%- include('partials/header') %>
<div class="main-cta">
  <div class="container">
    <div class="row jumbotron">
      <div class="col-12">
        <div class="py-5 mb-4 rounded-3">
          <main class="text-white text-center">
            <div class="container-fluid py-5">
              <div class="row justify-content-center">
                <h1 class="display-1 pb-5 abril">
                  Create a website for your NGO today.
                </h1>
              </div>
              <div class="row justify-content-center">
                <p
                  class="col-md-8 fs-5 align-self-center justify-content-center"
                >
                  We provide a platform for NGOs to create a website for free.
                  Join today and start building your website to help your cause.
                  And maximize your impact and reach.
                </p>
              </div>
              <a class="btn btn-primary btn-lg mt-5 p-3" href="/signup">
                Get Started Today
              </a>
            </div>
          </main>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
