<%- include('user-partials/user-header') %>
<main class="container">
  <div class="p-4 p-md-5 mb-4 rounded bg-info">
    <div class="col-md-12 px-0">
      <h1 class="display-4 fst-italic">Your NGO 1</h1>
      <p class="lead">
        Description of your NGO. <br />
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita quis
        dolore enim omnis ipsum. Eos vel, quis nihil voluptate enim alias fugit
        eius accusamus dolorem praesentium inventore doloribus soluta maiores!
      </p>
      <p class="lead mb-0">
        <a href="#" class="text-white fw-bold">Add Event</a>
      </p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div
        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">NGO 2</strong>
          <h3 class="mb-0">Featured Event</h3>
          <div class="mb-1 text-muted">November 12</div>
          <p class="card-text mb-auto my-2">
            Description of the event. <br />
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur
            necessitatibus nisi optio amet voluptas sint veritatis similique
            odio veniam.
          </p>
          <a href="#" class="stretched-link">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div
        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">NGO 3</strong>
          <h3 class="mb-0">Featured Event</h3>
          <div class="mb-1 text-muted">December 2</div>
          <p class="card-text mb-auto my-2">
            Description of the event. <br />
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur
            necessitatibus nisi optio amet voluptas sint veritatis similique
            odio veniam.
          </p>
          <a href="#" class="stretched-link">Read More</a>
        </div>
      </div>
    </div>
  </div>
</main>
<%-include('user-partials/user-footer') %>
