<%- include('user-partials/user-header') %>
<div class="container">
  <div class="d-grid gap-2 d-md-flex mb-3 justify-content-md-end">
    <button class="btn btn-warning me-md-2" type="button">Add Event</button>
    <button class="btn btn-outline-danger" type="button">Remove Event</button>
  </div>
  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3">
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Event 1</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto d-flex align-items-center me-3">
              <small>Mumbai</small>
            </li>
            <li class="d-flex align-items-center">
              <small>3d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Event 2</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto d-flex align-items-center me-3">
              <small>Thane</small>
            </li>
            <li class="d-flex align-items-center">
              <small>5d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Event 3</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto d-flex align-items-center me-3">
              <small>Vashi</small>
            </li>
            <li class="d-flex align-items-center">
              <small>2d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Event 4</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto d-flex align-items-center me-3">
              <small>Virar</small>
            </li>
            <li class="d-flex align-items-center">
              <small>Today</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Event 5</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto d-flex align-items-center me-3">
              <small>Vashi</small>
            </li>
            <li class="d-flex align-items-center">
              <small>Tomorrow</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Event 6</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto d-flex align-items-center me-3">
              <small>Panvel</small>
            </li>
            <li class="d-flex align-items-center">
              <small>6d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%-include('user-partials/user-footer') %>
