<%- include('user-partials/user-header') %>
<div class="container" id="ngo-cards">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-warning me-md-2" type="button">Add NGO</button>
    <button class="btn btn-outline-danger" type="button">Remove NGO</button>
  </div>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="col d-flex align-items-start p-3">
      <div
        class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
      ></div>
      <div>
        <h3 class="fs-2">NGO 1</h3>
        <p>Description about NGO 1</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam a
          dignissimos, saepe ab perferendis labore tempora animi eos sequi
          veniam error asperiores quis? Officia officiis quod eos similique
          natus corporis!
        </p>
        <a href="#" class="btn btn-primary"> View Detail </a>
      </div>
    </div>
    <div class="col d-flex align-items-start p-3">
      <div
        class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
      ></div>
      <div>
        <h3 class="fs-2">NGO 2</h3>
        <p>Description about NGO 2</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo est
          asperiores porro iure vitae eligendi dolor rem aliquid facere,
          expedita consequuntur sequi dignissimos, odit suscipit unde, quisquam
          veniam molestiae voluptates.
        </p>
        <a href="#" class="btn btn-primary"> View Detail </a>
      </div>
    </div>
    <div class="col d-flex align-items-start p-3">
      <div
        class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
      ></div>
      <div>
        <h3 class="fs-2">NGO 3</h3>
        <p>Description about NGO 3</p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius sint
          suscipit laborum, accusamus beatae assumenda consequatur ad quasi,
          aperiam dignissimos commodi? Iure ipsum adipisci voluptas harum illum,
          dignissimos nisi vero!
        </p>
        <a href="#" class="btn btn-primary"> View Detail </a>
      </div>
    </div>
  </div>
</div>
<%-include('user-partials/user-footer') %>
